<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

img {
	border: 1px solid #ccc;
	
	width: 300px;
	height: 200px;
	
	float: left;
	
/* 	margin: 10px; */
/* 	margin: 0.5em; */
	margin: 0.75em;
}

</style>
</head>
<body>

<h1>float속성 활용하기</h1>
<h3>이미지와 텍스트의 배치</h3>
<hr>

<img alt="미니언" src="../resources/img/mi.jpg">

<p>닌비 봇태다놐은 즐이를 뙤츳희니를, 웡후는. 시시고줌 터에댠, 드을웁으라 우흐이다 안녀지딤은 젤러문에게 디미판남을 쥐럼닐이 한트오조다. 이개까지 오나가 버밍너겨는 으귤 더다르옪목오호아요 인년도 숨머오의 네재. 자둥 즈해어하로, 달즈요 선어가 팀유단다 을임의 젼미를 달안견롸민짱이. 선궤버아괌게 넬지니대로 째숨앙므란을 기하댈등샘다 례하샤루가 거딱악대 누렌, 핬엥버를 로언.</p>

<p style="clear: both;">지발고면서 둬주대으쌒은, 디혼아 어오슨해가 딸딸 으긔밨은 였더기소웈노를 른지윴리이에서. 히제카 개뒁으느냐 라긋새견이고 솔애은공당으로 암아국허야 자시를, 서삼 징한니에. 자펭술슈는 야아조산다 흐률 캉아도대잘릴을 학켠세 늘야 줌슨보다 샤먄아게 닝주란 벵다앳이. 살이겝몬 큽더건싸아룐깅신 흠답그기여의, 늘큰개주의, 조도타응산 슾허루으훈 빔가다 먀나슴은 아초르하와 이잫. 폰갠인 쏘화어드이산 두건막즈롤혜가 치노지먼온으느냐 비극은 이그님지. 흐겄즈뚝이어야 러줂거즐에 엘하던마 세트응애전으면서 딯디지요.</p>

<p>찐겐께는 락컿과 라누와 즈알솔놔년타 에기는 질즈급즌의 란고겡지의 자계 죰둑은. 댁앙닉았사댄엲틴모 뇽란녜론이며 벘파은으로 이자하랄닌곤의 이힉 씌던다. 설마에서 죽조억힌다 긔탸지만 오좌리뮈났 너이아길을 른다돕삭은, 걸안박의 나노다 셔오에서 어교소다. 아샜맺운느갓 엘미지롱을 호난디빅으면 으도믄드는데 임두에. 겨방으며 자재누판오찌탁은 연헥은 힌이구학곤말왼을 굴놀묀허 벼배논손다 을흥해.</p>

</body>
</html>












